@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    background-color: #171414;
    font-family: 'Poppins', sans-serif;
}

form {
    display: flex;
    justify-content: space-between;
}

#result_output {
    color: initial;
    background-color: white;
}